<section class="p-5" >
    <div class=" p-5   ">
    <div class=" text-center p-3">
     <h3 class="fw-bold fs-2  " >ABOUT US ? </h3>
     
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident odio earum dolorum esse libero necessitatibus voluptatem nostrum? Iste, corporis! Itaque, nam doloremque sed maiores corrupti dolorum totam labore mollitia aperiam!</p>    
    
    </div>
       
       
  
    </div>
  

    <div class="row g-4 text-center">
      <div class="col-md-4  rounded-5 p-3">
        <i class="fa-solid fa-truck "></i>
    <p class="fw-bold ">WORLDWIDE DELIVERY</p>
    <P>For for way, behind the world mountain.
      for from the countries
    </P>
      </div>
    
      <div class="col-md-4  rounded-5 p-3">
        <i class="fa-solid fa-lock"></i>
    <p class="fw-bold ">SECURE PAYMENTS</p>
    <P>For for way, behind the world mountain.
      for from the countries
    </P>
      </div>
    
      <div class="col-md-4  rounded-5 p-3">
        <i class="fa-solid fa-rotate-left"></i>
    <p class="fw-bold ">SIMPLE RETURNS</p>
    <P>For for way, behind the world mountain.
      for from the countries
    </P>
      </div>
    
    
    
     </div>
    
    
    
    </section>