<section class=" home pt-5  " >

   
 <div class="part d-flex justify-content-center align-items-start text-white  mt-5">

 <div class="mb-5 text-center w-50  ">
    <div class=" ">
<span>FOR</span>
  <h1 class="fw-bold">ONLINE</h1>
  <span>ORDER</span><br>
  
    </div>
<p class="fs-1 fw-bolder m-1"> SHOP WITH US </p>

<br>
<div class="">
<i class="fa-brands fa-facebook px-2 fs-6"></i>
<i class="fa-brands fa-instagram px-2 fs-6 "></i>
<i class="fa-brands fa-twitter px-2 fs-6"></i>
<i class="fa-regular fa-paper-plane px-2 fs-6"></i>

</div>

    </div>

 </div>
 
  





 
 </section>
